<div class="row">
  <div class="col-md-4 col-md-offset-4">

  <h1>Sign Up</h1>
    <%= form_for(@user) do |f| %>

     
      <%= f.label :Name %>
      <%= f.text_field :name, class: 'form-control textbox' %>
      
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control textbox' %>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control textbox' %>

   
      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control textbox' %>

   <br>
      <%= f.label :"Are you: " %>
      <%= f.select(:property, options_for_select([['Guide', 1], ['Visitor', 2]])) %>
      
      <br>
      
      <%= f.label :info, "Additional Profile Information" %>
      <%= f.text_area :info, class: 'form-control textbox' %>
            
      <br>
      <%= f.label :image, "Profile Image" %>
      <%= f.file_field :image %>

      <br>
      <%= f.submit "Create my account", class: "btn btn-warning" %>
    <% end %>
  </div>
</div>
