<div class="row">
  <div class="col-md-6 col-md-offset-3">

  	<% isGuide = 1 %>

	<% if ( @user.property == isGuide ) %>
		<h1>Guide</h1>
	<% else %>
		<h1>Customer</h1>
	<% end %>

  	<div class="profile">

  		<div class="profile-image">
  			<%= image_tag("https://mail.google.com/mail/u/0/?ui=2&ik=aff1e80b3e&view=fimg&th=15cdc848a0d10475&attid=0.1&disp=inline&realattid=ii_15cdc83c062f1f58&safe=1&attbid=ANGjdJ_3crUU1mEPORGDuU0tvhG4v5dh2BMrU_V_NKClbYCfnPtXH5gT09tzy9vtCeMZ63Oa_lvUpb8GN6D-uqxlteSj3QnhsRs_iNo10pjZM8JOXtTq7VVcaUxT1Mo&ats=1498348950355&rm=15cdc848a0d10475&zw&sz=w1811-h989") %>
  		</div>
  		
  		<div class="profile-desc">

			<h2>Name</h2>
			<%= @user.name %>
			<h2>Email</h2>
			<%= @user.email %>

			<% if ( @user.property == isGuide ) %>
				<h2>Expertise</h2>
				<span class="tag">Snowboarding</span> <span class="tag">Mountain Climbing</span> <span class="tag">Hiking</span>
			<% end %>

			<h2>Information</h2>
			<%= @user.info %>
			<h2>Rating</h2>
			★ ★ ★ ★ ☆

  		</div>
	
  	</div>

  	<br>
  	<br>

  	<!-- if this is a guide, display comments -->
  	<% if ( @user.property == isGuide ) %>
	<h2>Comments</h2>
	<div class="comment-container">
		<h3>John Smith</h3>
		<div class="comment">★ ★ ★ ★ ☆ Thanks for a good time!</div>
		<h3>Jane Sans</h3>
		<div class="comment">★ ★ ★ ★ ☆ Thanks for a good time!</div>
		<h3>Jerry Serif</h3>
		<div class="comment">★ ★ ★ ★ ☆ Thanks for a good time!</div>
	</div>
	<% end %>

	<br>
	<br>

	<h2>Activity Packages</h2>
	<% @user.packages.each do |package| %>
	<table class="table">
	<thead>
		<th>Package Name</th>
		<th>Package Price</th>
		<th>Estimated Time (hours)</th>
	</thead>
	<tbody>
		<tr>
			<td><%= link_to package.name, package %></td>
			<td><%= package.price %></td>
			<td><%= package.time %></td>
		</tr>
		<tr>
			<td>
				<% package.items.each do |item| %>
			    
			      <table class='table'>
			      <thead>
			      	<th>Activity</th>
			      	<th>Price ($)</th>
			      	<th>Estimated Time (hours)</th>
			      	<th>Additional Info</th>
			      </thead>
			      <tbody>
			      	<tr>
			      		<td><%= item.name %></td>
			      		<td><%= item.price %></td>
			      		<td><%= item.time %></td>
			      		<td><%= simple_format(item.info)%></td>
			      	</tr>
			      </tbody>
			      </table>

			   <% end %>
	   		</td>
		</tr>
	</tbody>
	</table>
  

	<h2><strong>Create Activity for this Package</strong></h2>
	    <%= form_for(package.items.build) do |f| %>

	    <%= f.label :itemsName, "Activity Name" %>
	    <%= f.text_field :name, class: 'form-control' %>

	    <%= f.label :itemsPrice, "Price ($)" %>
	    <%= f.number_field :price, class: 'form-control' %>
	    
	    <%= f.label :itemsTime, "Estimated Time (hours)" %>
	    <%= f.number_field :time, class: 'form-control' %>

	    <%= f.label :itemsInfo, "Additional Information" %>
	    <%= f.text_area :info, class: 'form-control' %>

	    <%= hidden_field_tag :package_id, package.id %>
	    
	    <%= f.submit "Add to author", class: "btn btn-warning" %>
	  <% end %>
	<% end %>
	  <br>

	<hr>
	<ul>
	 <h2><strong>Create a New Package</strong></h2>

	 <%= form_for(@user.packages.build) do |f| %>

	    <%= f.label :Name %>
	    <%= f.text_field :name, class: 'form-control' %>

	    <%= f.label :Price %>
	    <%= f.number_field :price, class: 'form-control' %>
	    
	    <%= f.label :Time %>
	    <%= f.number_field :time, class: 'form-control' %>

	    <%= hidden_field_tag :user_id, @user.id %>
	    
	    <%= f.submit "Add to author", class: "btn btn-warning" %>
	  <% end %>
	</ul>


	</div>
</div>