<nav class="navbar navbar-default"> 

  <div class="container"> 

    <div class="navbar-header">
      <div class="navbar-brand">
        <%= link_to root_path do %>
          <img src="http://i.imgur.com/RDIXNVX.gif" width="25px" height="25px" class="inlineblk">
        <% end %>
      </div>
      <%= link_to '跟我游', root_path, class: 'navbar-brand' %>
      <input type="text" class="small searchbar">
      <button class="small">Search</button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
      <ul class="nav navbar-nav navbar-right">
  
        <li><%= link_to 'Events', root_path, class: 'navbar-right' %></li>
        <li><%= link_to 'Become a Guide', users_path, class: 'navbar-right' %></li>
        <li><%= link_to 'About Us', root_path, class: 'navbar-right' %></li>
        <li style="margin-left: 1em;"><%= link_to 'Sign Up', users_new_path, class: 'navbar-right' %></li>
        <li style="margin-left: 1em;"><%= link_to 'Log In', users_new_path, class: 'navbar-right' %></li>

      </ul>
    </div>

</div>
</nav>
